{% extends 'base.html' %}
{% load static %}

{% block script_block %}
<link rel="stylesheet" href="{% static 'css/review.css' %}">
<link rel="stylesheet" href="{% static 'css/landscape_detail_img.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/like.css' %}" type="text/css">
{% endblock %}

{% block title_block %}
    {{ landscape.name  }}
{% endblock %}

{% block body_block %}

<div style="margin: 3%">
<div class="heart-btn">
      <div class="content">
        <span class="heart"></span>
        <span class="text">Like</span>
        <span class="numb"></span>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $('.content').click(function(){
          $('.content').toggleClass("heart-active")
          $('.text').toggleClass("heart-active")
          $('.numb').toggleClass("heart-active")
          $('.heart').toggleClass("heart-active")
        });
      });
    </script>
    {% if landscape %}
        <div class="landscape_banner_container">
             <div class="landscape_box">
                 <div class="landscape_img-box">
                     <img src="{{ landscape.image }}" alt="">
                 </div>
                 <div class="landscape_img-box">
                    <img src="{{ landscape.image }}" alt="">
                 </div>
                 <div class="landscape_img-box">
                    <img src="{{ landscape.image }}" alt="">
                 </div>
            </div>
        </div>


    <strong>
        {{ landscape.name  }}
    </strong>
    <p><i>{{ landscape.description }}</i></p>

    {%else%}
    <li><strong>There are no landscapes.</strong></li>
    {% endif %}


<h3>Photo Gallery</h3>


        <h3>Recent reviews</h3>

        <a href="{% url 'landscape:add_review' landscape.slug %}" > Write a review</a>
        {% if reviews %}
            {% for r in reviews %}
            <div class = 'review-result-container' style="display:block">
                <div class = 'review-result-container-content'>
                    <p>
                        {{ r.user_id }} authored a review
                        <span style="float:right;">
                            {{ r.visit_date }}
                        </span>
                    </p>
                    <h4>{{ r.title }}</h4>
               <div class="review_row">
                    <div class="review_column">
                        <div><span class="stars-container stars-{{r.rating}}">★★★★★{{r.rating}}</span></div>
                    </div>
                    <div class="review_column">
                        <p>{{ r.description }}</p>
                    </div>
              </div>
            </div>
              </div>
            <br />
        {% endfor %}
            {%else%}
            <li><strong>There are no reviews.</strong></li>
        {%endif%}
    </div>
</div>

{% endblock %}