.header {
    min-height: '10%';    
}
.header-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.header-button {
    padding: 5px 20px 5px 5px;

}
.header-logo {
    padding: 5px 20px 5px 5px;
}
#logo {
    height: 25%;
    width: 25%;
}