.slider{
    padding-right: 2rem;
}
.slick-slide{
    padding-right: 15px;
    padding-left: 15px;
}
#prev{
    width:40px;
    background-color: lightgrey;
}
#next{
    width:40px;
    background-color: lightgrey;
}
.img-responsive {
    width: 100%;
    max-height: 15em;
}
.slick-slide {  
    height: inherit !important;     
    display: flex !important;   
    justify-content: center; 
} 
.slick-track {
    display: flex !important;
}
