
.jq-star-svg {
  height: 20px;
  width: 20px;
}
.search-box {
  padding-left: 12%;
  display: flex;
  width: 90%;
}
#search-box-container {
  width: 100%;
  margin-right: 20px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  width: 100%;
  height: 100%;
}
.card {
  margin: 0 0.5em;
  width: 100%;
  max-height: 30%;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.gallery-heading {
  padding-left: 20px;
  padding-top: 20px;
}

p.solid {
  border-style: solid;
}

.card-image-container {
  height: 80%;
  width: 100%;
}


