<<<<<<< HEAD
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    display: flex;
    width: 180px;
    padding: 5px;

}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}



=======
.landscapes-section-container {
    display: flex;
}

.landscape-image {
    height: 40px;
    width: 40px;
}
>>>>>>> 7eca932e65b047916920b8e0b44a913ae3287a13
