.heart-btn{
  position: absolute;
  top: 18%; right: 11%;
  transform: translate(-50%,-50%);
}
.content{
  padding: 2px 2px;
  display: flex;
  border: 2px solid #eae2e1;
  border-radius: 5px;
  cursor: pointer;
}
.social-share {
  position: absolute;
  top: 17%;
  display: flex;
  right: 17%;
}
.jssocials-share {
  margin-right: 5px;
  display: inline;
}
.content.heart-active{
  border-color: #f9b9c4;
  background: #fbd0d8;
}
.heart{
  position: absolute;
  background: url('../../static/images/heart_animation.png') no-repeat;
  background-position: left;
  background-size: 2800%;
  height: 85px;
  width: 85px;
  top: 50%;
  left: 19.5%;
  transform: translate(-50%,-50%);
}
.text{
  font-size: 18px;
  margin-left: 29px;
  color: grey;
  font-family: 'Montserrat',sans-serif;
}
.text.heart-active{
  color: red;
}
.heart.heart-active{
  animation: animate .8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
