
.landscapes-container{
    margin: 3%;
}
.review-result-container {
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    display: inline;
    border-width: 1.5px;
}
.jq-star-svg {
    height: 20px;
    width: 20px;
}

.review_column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.review_row:after {
    content: "";
    display: table;
    clear: both;
}
.stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
}
  
.stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
}
  
.stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }

.error-message {
    color: red;
    font-size: small;
}
.block{
    display:block !important
}
.right{
    float:right;
}
.information-box{
    margin: 5%;
}
#googleMap{
    width:70%;
    height:400px;
    margin: 0 auto;
}
.border-div{
    width:100%;border: 0.5px solid #d0d0d0;
}
.address-container{
    margin-left: 7%;
}
.address-text{
    font-size: 15px;
    margin-top: 1%
}