#query {
    width: 100%;
}
.search-box {
    padding-left: 12%;
    display: flex;
    width: 80%;
}
.search-container {
    /* display: flex; */
    padding-top: 5%;
    /* align-items: center; */
}
.search-result-container {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    padding: 20px;
    margin: 15px;
    display: flex;
}
.search-result-container-image {
    height: 150px;
    width: 150px;
}
.search-result-container-image-container {
    padding: 8px;
}
.jq-star-svg {
    height: 20px;
    width: 20px;
}
.search-result-container-content-description{
    padding-top: 15px;
}
#search-container-filter-container {
    display: flex;
    padding-left: 12%;
    padding-bottom: 50px;
    width: 70%;
}
.search-container-filter {
   padding-right: 50px;

}
.no-result-label {
    color: red;
    padding: 5px;
}
#search-box-container {
    width: 100%;
    margin-right: 20px;
}
#search-form {
    width: 100%;
}

.search-result-container {
    cursor: pointer;
}


