<!DOCTYPE html>
{% load static %}
{% load socialaccount %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery-star.min.js'%}"></script>
    <script src="{% static 'js/lodash.min.js'%}"></script>
    <script src='https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js'></script>

    {% block script_block %}
    {% endblock %}
    <title>
        {% block title_block %}
        A VIEW FOR YOU
        {% endblock %}
    </title>
</head>

<body>
    <div>
        <div class="header">
            <div class="header-container">
                <div class='header-logo'>
                    <a id='header-title' href="{% url 'home:homepage' %}"><img src="{% static 'images/logo.jpeg' %}"
                            id="logo" alt="logo"> <span><strong>A VIEW FOR YOU</strong></span></a>
                </div>
                {% if request.path != '/auth/login/' %}
                <div class='header-button'>
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile:profile' %}" class="btn btn-outline-primary"><strong>Profile</strong></a>
                    <a href="{% url 'auth:logout' %}" class="btn btn-outline-primary"><strong>LOGOUT</strong></a>
                    {% else %}
                    <a href="{% url 'auth:login' %}" class="btn btn-outline-primary"> <strong>LOGIN/SIGNUP</strong> </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class='body-container'>
            {% block body_block %}
            {% endblock %}
        </div>

    </div>
</body>

</html>